<%= render 'shared/navbar' %>

<section class="post-user-section">
  <div class="user-info">
  </div>

  <div class="post-form">
  </div>
</section>

<div class="post-feed">
</div>

<div class="who-friend">
</div>