<%= render 'shared/navbar' %>
<div class="profile-post-container">
  <div class="post-user">
    <%= render 'shared/user_comment' %>
  </div>

  <div class="post-content">
    <div class="content-post">
      <h3>Comment:</h3>
      <p><%= @comment.content %></p>
    </div>
    <div class="likes-comments">
      <% if @comment.likes_count > 0 %>
        <p><%= pluralize(@comment.likes_count, "like") %></p>
      <% end %>
    </div>
  </div>
</div>