<%= render 'shared/navbar' %>
<div class="profile-user">
  <ol>
    <%= render 'shared/user_profile' %>
  </ol>
</div>

<% if @user.posts.count > 0 %>
  <ol class="microposts">
    <%= render @posts_items %>
  </ol>
  <%= will_paginate @posts_items %>
<% end %>
