<li>
  <%= link_to gravatar_for(@user, :size => 125), @user, { :class=>"border-to-gravatar" } %>
  <div class="user-c-1">
    <div>
      <h5><%= @user.name %></h5>
    </div>
    <div>
      <span class="mx-auto"><%= pluralize(@user.posts.count, "post") %></span>
    </div>
  </div>
</li>