#logo {
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.nav-cust{
  margin: 10px;
  color: white;
  background-color: #598bb6;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.dropdown-menu{
  background-color: #598bb6;
}

.nav-item {
  width: 100%;
  background-color: #598bb6;
  text-align: center;
  .dropdown-menu.show {
    text-align: center;
    .nav-cust {
      width: 100%;
    }
  }
}

.navbar {
  width: 100%;
  background-color: #598bb6;
  a {
    padding: 2px 0;
  }
  .navbar-toggler,
  .navbar-toggler.collapsed {
    outline: none;
    border: none;
    span {
      border: none;
    }
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    padding: 0;
    .navbar-collapse {
      width: 100%;
    }
  }
  .nav-cust {
    width: 100%;
  }
  #logo {
    margin-left: 30px;
  }
}

@media (min-width: 993px) {
  .nav-cust {
    min-width: 75px;
  }
  .nav-cust.pending {
    min-width: 150px;
  }
}