@import "vars";

.profile-user {
  width: 100%;
  background-color: $bg-gray;
  ol {
    background-color: $bg-gray;
    list-style: none;
    li {
      background-color: $bg-gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      a {
        padding: 40px 0;
      }
    }
  }
}