@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
@import "font-awesome";
@import "bootstrap";
@import "navbar";
@import "auth";
@import "home";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#notice,
#alert-content {
  margin: 0;
  padding: 0;
  border: 0;
}

.notice-box {
  text-align: center;
  background-color: #58cd89;
  border: 2px solid #2ecc71;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
}

#error_explanation,
.alert-box {
  text-align: center;
  background-color: #e4796d;
  border: 2px solid #e74c3c;
  border-radius: 5px;
  margin: 20px 0;
  ul {
    list-style-type: none;
    text-align: start;
  }
}

.d-none {
  display: none;
}