@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
@import "font-awesome";
@import "bootstrap";
@import "navbar";
@import "auth";
@import "home";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#notice,
#alert-content {
  margin: 0;
  padding: 0;
  border: 0;
}

.notice-box {
  text-align: center;
  background-color: #58cd89;
  border: 2px solid #2ecc71;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
}

.alert-box {
  text-align: center;
  background-color: #e4796d;
  border: 2px solid #e74c3c;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
}

#error_explanation {
  h2 {
    font-size: 18px;
  }
  text-align: center;
  background-color: #e4796d;
  border: 2px solid #e74c3c;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  ul {
    list-style-type: none;
    text-align: start;
    li {
      padding-left: 5px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; 
  a, span{
    padding: 0.2em 0.3em; 
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
  }
  a {
    text-decoration: none;
    color: black; 
  }
  a:hover,
  a:focus {
    text-decoration: underline; 
  }
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 10px;
    border-top: 1px solid #e8e8e8;
    span {
      a {
        padding: 0 5px;
      }
    }
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-500;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.container-fluid {
  padding: 0;
}

.d-none {
  display: none;
}